goldmark:
  # Markdown renderer configuration
  renderer:
    unsafe: true
  extensions:
    # LaTeX math support
    # https://gohugo.io/content-management/mathematics/
    passthrough:
      enable: true
      delimiters:
        block:
          - - \[
            - \]
          - - $$
            - $$
        inline:
          - - \(
            - \)
tableOfContents:
  endLevel: 4
  ordered: true
  startLevel: 2
highlight:
  noClasses: false
  codeFences: true
  guessSyntax: true
  lineNoStart: 1
  lineNos: true
  lineNumbersInTable: true
  tabWidth: 4